body{
    margin:0;
    padding:0;
}
#container{
}
.menubar{
    border:1px solid #999;
    border-bottom:0;
    width:1300px;
    height:48px;
    padding:0;
    margin:100px auto 0;

}
.menubar li{
    list-style: none;
    height: 48px;
    line-height: 48px;
    padding: 0 5px;
    float:left;
    cursor:pointer;
}
.menubar li i:hover{
    background: rgba(2,2,2,0.4);
}
textarea{
    width: 1270px;
    height: 500px;
    resize: none;
    margin:0 auto;
    display:block;
    padding: 15px;
}